{% for key, value in ingredients.items() %}
    {% if value %}
        <b>{{ key }}</b>
        {% for ingredient in value %}
            <label>
                    <input type="checkbox" id={{ loop.index }} onclick="toggleLine()"> - Hallo
            </label>
        {% endfor %}
    {% endif %}
{% endfor %}

<!--

<p>Hallo</p>
    <label>
        <input type="checkbox" id="hideLineCheckbox" onclick="toggleLine()"> - {{ ingredient.get('amount') }} {{ ingredient.get('uom') }} {{ ingredient.get('ingredient') }}
    </label>
    
    ingredient.get('amount') ingredient.get('uom') ingredient.get('ingredient')
-->

<!--
{{ ingredient.get('amount') }} {{ ingredient.get('uom') }} {{ ingredient.get('ingredient') }}
-->
