{% for category, ingredients in ingredients.items() %}
    {% if ingredients %}
        <button class="accordion btn-{{ category }}">{{ category }}</button>
        <div class="panel">
            {% for ingredient in ingredients %}
                    <div id="{{ ingredient.html_id }}" style="margin: 0px width: 100%;">
                        <label>
                            <input type="checkbox" class="{{ category }}" id="{{ ingredient.html_id }}_check" onclick="toggleLine(this)"> - {{ ingredient.amount }} {{ ingredient.uom }} {{ ingredient.ingredient }}</input> 
                        </label>
                        {% if ingredient.image %}<i class="fa fa-eye pull-right" data-img="{{ ingredient.image }}" data-zutat="{{ ingredient.ingredient }}" onclick="show_img(this);"></i>{% endif %}
                    </div>
                {% endfor %}
        </div>
    {% endif %}
{% endfor %}